:root {
  --primary-color: #ee4e31;
}

body {
  color: #444444;
  font-family: "Poppins", sans-serif;
}

.titleWidth {
  width: 100%;
}

.yellowBorder {
  position: relative;
  padding-bottom: 25px;
}

.yellowBorder:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 20%;
  margin-left: -10%;
  height: 4px;
  background-color: #ef8e38;
}

.marginTop {
  margin-top: 100px;
}

.primaryButton,
.primaryButton:focus {
  background-color: var(--primary-color);
  border-radius: 10px;
  font-size: 16px;
  color: #fff;
  border: 1px solid transparent !important;
  outline: none;
}

.primaryButton:hover,
.primaryButton:active {
  border: 1px solid var(--primary-color) !important;
  background: transparent !important;
  color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  box-shadow: none !important;
}

.changeModalBtn {
  color: #1049dc;
  background: transparent;
  border: none;
  padding-left: 0;
}

.dropDown {
  position: relative;
}

.dropDownContent {
  position: absolute;
  z-index: 100;
}

.dropDownBtn {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 19px;
}
.dropDownBtn:after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.dropDownBtn:focus,
.dropDownBtn:active,
.dropDownBtn:hover {
  outline: none;
  border: none;
}

.dropDownContent ul {
  padding: 8px 0;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropDownContent ul li a {
  padding: 5px 10px;
  display: block;
  text-decoration: none;
  color: #444444;
}

.dropDownContent ul li a:hover {
  background-color: #f8f9fa;
}

/* Landing Page */
.landingPage {
  background-image: url("../assets/landingbg.jpeg");
  background-position: bottom;
  height: 100vh;
  background-size: cover;
  color: #fff;
}

.navbar {
  margin-left: -15px;
  margin-right: -15px;
}

.logo {
  font-family: "Pacifico", cursive;
  font-size: 35px;
  color: var(--primary-color) !important;
  margin-bottom: 20px;
}

.logo:hover {
  text-decoration: none;
}

.navbarCaption {
  color: #fff !important;
  font-size: 18px;
}

.navbarSignInBtn,
.navbarSignInBtn:hover,
.navbarSignInBtn:focus {
  font-size: 14px;
}

.btn-primary.disabled,
.btn-primary:disabled {
  background-color: transparent !important;
  border-color: rgb(121 56 44) !important;
  cursor: not-allowed;
}
.intro {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.btnsGroup {
  margin-top: 5%;
}

.btnsGroup .primaryButton {
  margin-bottom: 10px;
  min-width: 170px;
}

/* SignIn Modal */
.modal-content {
  color: #444;
}

/* Recipes List Page */
.searchDraw {
  max-height: 180px;
}
.dishIcon {
  display: block;
  margin: 10px auto;
}

.imgCover {
  height: 20rem;
  width: 100%;
  object-fit: fill;
}

/* MyAccount Page */
.addRemoveInput {
  background: transparent;
  border: none;
  text-decoration: underline;
  color: #444444;
  margin-top: 10px;
}

input.form-control,
textarea.form-control {
  border: 1px solid #bababa;
  margin-top: 40px;
}

.custom-file {
  margin: 40px auto;
}

.custom-file-label::after {
  color: #fff;
  background-color: var(--primary-color);
}

.publishBtn {
  box-shadow: none;
  padding: 10px;
  font-size: 18px;
  outline: none;
}

/* Not Found Route */
.notFoundContect {
  margin-top: 15%;
}
.notFoundContect h1 {
  font-size: 150px;
  font-weight: bold;
}
.notFoundContect p {
  font-size: 22px;
  font-weight: bold;
}

/* Media Queries */
@media (min-width: 991px) {
  /* General */
  .titleWidth {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }
  /* General */
  .resposiveImg {
    max-width: 500px;
    max-height: 500px;
  }
}

@media (min-width: 768px) {
  /* Navigation */
  .logo {
    margin-bottom: 0;
  }
  /* Landing Page */
  .intro h2 {
    font-size: 3rem;
  }
  .btnsGroup .primaryButton {
    margin-right: 20px;
  }

  /* SingIn Modal */
  .modal-content {
    color: #444;
    width: 50%;
    margin: auto;
  }

  .imgCover {
    height: 25rem;
    object-fit: cover;
  }
}
